.details {
    display: flex;
    padding-right:
}

.timeline {
    color: black;
    padding-right: 20px;
}

.tools {
    color: black;
    padding-right: 20px;
}

.teammates {
    color: black;
    padding-right: 20px;
}